{% extends 'dash.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/product.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/form.css') }}"/>
	<style>
		form {
			margin: 1em 0;
			min-width: 99%;
			height: 50vh;
			overflow-y: scroll;
			gap: 0;
		}
		form > * {
			padding: 1em 0;
		}
		label {
			display: none;
		}
	</style>
{% endblock %}
{% block body %}
	{{ form_start(form) }}
	<h3>AJOUTEZ VOTRE NUMERO AIRTEL MONEY POUR VOS PAIEMENTS</h3>
	{{ form_widget(form) }}
	<button class="btn-dark">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}
{% endblock %}
